@model WebShopUserMVC.Models.Account
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{

    <p>Type in information</p>
    <p>Username:</p>

    @Html.TextBoxFor(x => x.Username, new { @class = "inputFields", @required = "required" })
    <br>
    <p>Password:</p>
    @Html.PasswordFor(x => x.Password, new { @class = "inputFields", @required = "required", @onkeyup = "PasswordValidateLength();", @id = "pw" })
    <br />
    <br />
    <br />
    @Html.ActionLink("Back", "Index", "Home", new { @class = "inputButtons" })
    <input type="submit" value="Create account" class="inputButtons" id="submitButton">

    <p id="errorMessage"></p>
    @Html.ValidationSummary();
    <br />
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
